:root { /* ratio => 1 : 2 : 1 (dec) */
  --bg-colour-background: #f7f7f7 ;

  --bg-colour:          #5fbf5f ; /* -40, -c0, -80 (hex) */
  --bg-colour-hover:    #4f9f4f ; /*   0, -a0, -50 (hex) */
  --bg-colour-active:   #3f7f3f ; /*   0, -c0, -60 (hex) */

  --bg-colour-warning:         #df0000 ;
  --bg-colour-warning-hover:   #bf0000 ;
  --bg-colour-warning-active:  #9f0000 ;

  --bg-colour-dropdown:        #ffdf7f ;

  --bg-colour-item:            #6fdf6f ;

  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif ;
}

/**********************/
/***** BACKGROUND *****/
/**********************/
body {
  line-height: 1 ;
  text-align: center ;
  font-family: var(--font) ;
  background-color: var(--bg-colour-background) ;
  padding: 10px ;
  font-size: 18px ;
  margin: 0 ;
  max-width: 1000px ;
  margin-left: auto ;
  margin-right: auto ;
}

/* All links are normal-typed */
a {
  text-decoration: none ;
}

/* Wrapper that contains title + navigation bar */
#header-wrapper {
  position: sticky;
  top: 0;                                   /* stick to top */
  background: var(--bg-colour-background);  /* prevent content showing through */
  z-index: 1000;                            /* ensure above content */
}

/**********************/
/***** MAIN TITLE *****/
/**********************/
#mainTitle {
  font-size: 48px ;
  font-weight: 500 ;
  margin-bottom: 20px ;

  position: sticky;  /* sticks after reaching top */
  top: 0;            /* stick to very top */
  z-index: 1000;     /* stay above other content */
}

/**************************/
/***** NAVIGATION BAR *****/
/**************************/
#nav-of-links {
  display: flex ; /* make sure each tab has the SAME width */
  flex: 100% ;
  text-align: center ;
  margin: 0 auto ;
  background-color: #3f3f3f ;
  position: sticky;  /* sticks after reaching top */
  top: 0;            /* stick to very top */
  z-index: 1000;     /* stay above other content */
}
#nav-of-links.is-stuck {
  box-shadow: 0 3px 8px #00000080 ;
}
#nav-of-links a {
  padding: 15px 15px ;
  text-decoration: none ; /* remove the usual UNDERLINE */
  flex: 2 ;
  font-size: 1.25em ;
  color: white ;
  transition: background-color .1s ease ;
}
#nav-of-links a:hover {
  background-color: var(--bg-colour) ;
}
#nav-of-links a:active {
  font-weight: bold ;
  background-color: var(--bg-colour-active) ;
}

/** Current page indicator **/
#nav-of-links a.current-page {
  color: white ;
  font-weight: bold ;
  background-color: var(--bg-colour-hover) ;
}

/******************************/
/***** TO-DO LIST BUTTONS *****/
/******************************/

/** All function buttons but the one named "add item" **/
.listFunc {
  font-family: inherit ;
  cursor: pointer ;
  transition:
    background-color .1s ease,
    box-shadow .1s ease ;
}

.listFunc:not( [ id="addItem" ] ) {
  line-height: 25px ;
  box-sizing: border-box ;
  display: inline-flex ; /* Make a behave like a flexbox button */
  align-items: center ;
  justify-content: center ;
  font-size: 150% ;
  height: 72px ;
  width: 49% ;
  background-color: var(--bg-colour) ;
  border-radius: 6.25px ;
  border-style: none ;
  padding: 0px 20px ;
  flex: 1 1 auto ;
}
.listFunc:hover {
  background-color: var(--bg-colour-active) ;
  font-weight: bold ;
  box-shadow: 0px 0px 10px var(--bg-colour-active) ;
  color: white ;
}
.listFunc:active {
  box-sizing: border-box ;
  background-color: white ;
  font-weight: bold ;
  box-shadow: 0px 0px 10px var(--bg-colour-active) ;

  border: 4px solid var(--bg-colour) ;
  color: var(--bg-colour-active) ;
}
#deleteList {
  background-color: var(--bg-colour-warning) ;
  color: white ;
  font-weight: bold ;
}
#deleteList:hover {
  background-color: var(--bg-colour-warning-active) ;
  color: white ;
  box-shadow: 0px 0px 10px var(--bg-colour-warning-active) ;
}
#deleteList:active {
  background-color: white ;
  box-shadow: 0px 0px 10px var(--bg-colour-warning-hover) ;
  border: 4px solid var(--bg-colour-warning) ;
  color: var(--bg-colour-warning-hover) ;
}

.btn-container {
  display: flex ;
  flex-wrap: wrap ;
  gap: 5px ;
  justify-content: center ;
}

/***********************************************************/
/***** NEW ITEM INPUT SECTION (WITH 'ADD ITEM' BUTTON) *****/
/***********************************************************/
#input-wrapper {
  padding: 24px 0px ;
  display: flex ;
  width: 100% ;
  margin: auto ;
}
#inputItem {
  flex: 1 ;
  width: 20% ;
  padding: 12px 6px ;
  font-size: inherit ;
  border: 2px solid #7f7f7f ;
  border-top-left-radius: 24px ;
  border-bottom-left-radius: 24px ;
  border-top-right-radius: 0px ;
  border-bottom-right-radius: 0px ;
  outline: none ;
}

/*********************************************************/
/***** 'ADD ITEM BUTTON' (INTEGRATED WITH THE INPUT) *****/
/*********************************************************/
#addItem {
  display: flex ; /* key part */
  align-items: center ; /* vertical centering */
  justify-content: center ; /* horizontal centering */
  width: 100px ;
  padding: 0px 8px ;
  font-size: 18px ;
  color: black ;
  background-color: var(--bg-colour) ;
  border: 2px solid #7f7f7f ;
  border-top-right-radius: 24px ;
  border-bottom-right-radius: 24px ;
  text-decoration: none ;
  border-left: none ;
  cursor: pointer ;
}
#addItem:hover {
  background-color: var(--bg-colour-active) ;
  color: white ;
  box-shadow: 0px 0px 10px var(--bg-colour-active) ;
}
#addItem:active {
  background-color: white ;
  box-shadow: 0px 0px 10px var(--bg-colour-hover) ;
  border: 4px solid var(--bg-colour) ;
  color: var(--bg-colour-hover) ;
}

/***************************/
/***** LINK TO THE TOP *****/
/***************************/
#nav-to-top {
  width: 100% ;
  height: 30px ;
  margin-bottom: 10px ;
}

/**************************************/
/***** FOR SMALLER-SCREENED USERS *****/
/**************************************/
@media (max-width: 700px) {
  .listFunc:not( [ id="addItem" ] )  {
    font-size: 125% ;
  }
}

/***************************************/
/***** FOR DESKTOP/LAPTOP/TV USERS *****/
/***************************************/
@media (min-width: 700px) {
  #mainTitle {
    font-size: 300% ;
  }
  .listFunc:not( [ id="addItem" ] )  {
    line-height: 30px ;
    width: 20% ;
    flex: 1 1 auto ;
  }
}