/**********************/
/***** BACKGROUND *****/
/**********************/
body {
  line-height: 1 ;
  text-align: center ;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif ;
  background-color: #ffffff ;
  padding: 10px ;
  font-size: 18px ;
  margin: 0 ;
}

a {
  text-decoration: none ;
}

/**********************/
/***** MAIN TITLE *****/
/**********************/
#mainTitle {
  font-size: 48px ;
  font-weight: normal ;
  margin-bottom: 20px ;
}

/**************************/
/***** NAVIGATION BAR *****/
/**************************/
#nav_of_links {
  display: flex ; /* make sure each tab has the SAME width */
  flex: 100% ;
  text-align: center ;
  background-color: #3f3f3f
}
#nav_of_links a {
  padding: 15px 15px ;
  text-decoration: none ; /* remove the usual UNDERLINE */
  flex: 2 ;
  font-size: 1.25em ;
  color: white ;
}

/* When pointer is at the navigation bar (desktop only) */
#nav_of_links a:hover {
  background-color: #ff7f9f ;
}

/** Current page indicator **/
#nav_of_links a.current_page {
  background-color: #ff7f9f ;
}

/******************************/
/***** TO-DO LIST BUTTONS *****/
/******************************/

/** All function buttons but the one named "add item" **/
.listFunc:not( [ id="addItem" ] ) {
  box-sizing: border-box ;
  display: inline-flex ; /* Make a behave like a flexbox button */
  align-items: center ;
  justify-content: center ;
  font-size: 150% ;
  height: 96px ;
  width: 49% ;
  color: black ;
  background-color: #ff9f9f ;
  border-radius: 6.25px ;
  border-style: none ;
  padding: 0px 10px ;
}

/** All function buttons **/
.listFunc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif ;
  cursor: pointer ;
}
.listFunc:hover {
  background-color: #ff7f7f ;
}
.listFunc:active {
  background-color: #ff5f5f ;
  color: #ffffff ;
}

.btn_container {
  display: flex ;
  flex-wrap: wrap ;
  gap: 5px ;
  justify-content: center ;
}

/***********************************************************/
/***** NEW ITEM INPUT SECTION (WITH 'ADD ITEM' BUTTON) *****/
/***********************************************************/
.custom-select {
  font-size: 18px ;
}
#input_wrapper {
  padding: 12px 0px ;
  display: flex ;
  width: 100% ;
  margin: auto ;
}
#inputItem {
  flex: 1 ;
  width: 30% ;
  padding: 12px 6px ;
  font-size: 18px ;
  border: 2px solid #7f7f7f ;
  border-right: none ;
  border-top-left-radius: 24px ;
  border-bottom-left-radius: 24px ;
  border-top-right-radius: 0px ;
  border-bottom-right-radius: 0px ;
  outline: none ;
}

/*********************************************************/
/***** 'ADD ITEM BUTTON' (INTEGRATED WITH THE INPUT) *****/
/*********************************************************/
#addItem {
  display: flex ; /* key part */
  align-items: center ; /* vertical centering */
  justify-content: center ; /* horizontal centering */
  padding: 0px 8px ;
  font-size: 18px ;
  color: black ;
  background-color: #ff9f9f ;
  border: 2px solid #7f7f7f ;
  border-top-right-radius: 24px ;
  border-bottom-right-radius: 24px ;
  text-decoration: none ;
  cursor: pointer ;
}
#addItem:hover {
  border: 2px solid purple ;
  background-color: #ff7f7f ;
}
#addItem:active {
  background-color: #ff5f5f ;
  color: #ffffff ;
}

/***************************************/
/***** DROPDOWN FOR ORDERING ITEMS *****/
/***************************************/
#dropdown_list {
  margin: 10px 0px ;
  font-size: 18px ;
  padding: 10px 0px ;
  cursor: pointer ;
}
#dropdown_list:hover {
  background-color: #efefef ;
}
#dropdown_list:focus {
  background-color: #dfdfdf ;
}

/***************************/
/***** LINK TO THE TOP *****/
/***************************/
#nav_to_top {
  width: 100% ; height: 30px ;
  margin-bottom: 10px ;
}

/*************************************/
/***** FOR LARGER-SCREENED USERS *****/
/*************************************/
@media (max-width: 500px) {
  .listFunc:not( [ id="addItem" ] )  {
    font-size: 125% ;
  }
}
