@import "../makelist.css";
@import "../sort-dropdown.css";
@import "todolist-style-items.css";

/****************************/
/***** GLOBAL VARIABLES *****/
/****************************/
:root {
  --chkboxSize: 28px ;
  --chkboxColour: #3f9f3f ;
}

/*******************************/
/***** LIST BUFFER SECTION *****/
/*******************************/
#buffer {
  border-radius: 10px ;
  margin-bottom: 20px ;
}

/***********************/
/***** SWEETALERTS *****/
/***********************/
.swal2-html-container {
  text-align: left ;
}

/*************************************/
/***** FOR LARGER-SCREENED USERS *****/
/*************************************/
@media (max-width: 800px) {

}
