@import "../makelist.css";

/*******************************/
/***** LIST BUFFER SECTION *****/
/*******************************/
#buffer {
  text-align: left ; font-size: 36px ; /* TEXT */
  border: 4px dashed #4fcf4f ;
  border-radius: 10px ;
}

/******************************/
/***** LIST ITEMS SECTION *****/
/******************************/

/** INDIVIDUAL ITEM ENTITIES **/
.items {
  font-size: 28px;
  list-style-type: none ; /* no notations */
  vertical-align: top ;
}

/** ITEM CONTENTS **/
tag {
  list-style-type: inherit ;
  padding-left: 12px ;
}

/** REMOVE button **/
.remove {
  background: none ;
  color: #ff0000 ; font-size: .75em ; /* TEXT */
  border: none ;
  cursor: pointer ;
}
.remove:active {
  color: #ff9fff ;
}

/** CHECKBOX button **/
.done {
  color: currentColor ;
  /* width: 20px ;
  height: 20px ; */
  border: 24px solid currentColor ;
  border-radius: 24px ;
  cursor: pointer ;
}

/** EDIT button **/
.edit {
  cursor: pointer ;
  border: none ;
  font-size: .5em ;
}

/*************************************/
/***** FOR LARGER-SCREENED USERS *****/
/*************************************/
@media (max-width: 800px) {
  .done {
    width: 20px ;
    height: 20px ;
  }
}
