@import "../makelist.css";
@import "notice_block.css";

/****************************/
/***** HELP DESCRIPTION *****/
/****************************/

ul {
  text-align: left ;
}

#helpTitle {
  font-weight: 600 ;
}

/**********************/
/***** HELP GUIDE *****/
/**********************/

/* TABLE OF CONTENTS */
#table-of-contents {
  padding: 0 20px ;
  text-align: left ;
  background-color: #cfcfcf ;
  border-radius: 20px ;
}
#table-of-contents h2 {
  padding: 20px 0 ;
  text-align: center ;
  border-bottom: 1px solid gray ;
}
#table-of-contents li {
  list-style-type: none ;
  font-size: 18px ;
  line-height: 2 ;
}
#table-of-contents a:hover {
  color: red ;
}
#table-of-contents a:active {
  text-shadow: 0px 0px 5px orange ;
  font-weight: 500 ;
  color: yellow ;
}

#help-guide {
  padding: 0px 20px ;
}

/* Subtitle link target height */
.itemlook, .instruction-functions {
  scroll-margin-top: 120px ;
}

/* For 'sort item' subtitles */
.instructions-sort-items-mode {
  scroll-margin-top: 145px ;
}

#instructions {
  list-style-type: none ;
  padding: 0 20px ;
}

/* SUBTITLES */
#instructions li > h2 {
  padding-top: 30px ;
  font-weight: 500 ;
}

/* THE "WHAT AN ITEM LOOKS LIKE" SECTION */
/* item as example of "What an item looks like" */
.sample-item {
  text-align: center ;
}

i[class="material-symbols-rounded"] {
  vertical-align: middle ;
  font-size: 29px !important ;
  cursor: auto ;
  padding: 0 ;
  margin: 0 ;
}

.description-title {
  font-size: 20px;
  padding: 10px 0 ;
  font-weight: 600 ;
}
dd {
  line-height: 1.5 ;
  padding: 5px 0 ;
}

/********************************************************/
/***** INPUT EXAMPLE TABLE (FOR 'ADD ITEM' SECTION) *****/
/********************************************************/
table {
  border-collapse: collapse ;
}
th, td {
  padding: 10px ;
  border: 2px solid gray ;
  letter-spacing: .5px ;
}
th {
  background-color: var(--bg-colour) ;
  text-align: center ;
  font-weight: 500 ;
}
/* EVEN ROWS, i.e. 2nd row, 4th row, 6th row, etc. */
tbody > tr:nth-of-type(even) {
  background-color: #dfdfdf ;
}
p {
  line-height: 1.5 ;
  padding-right: 24px ;
}

/***********************************/
/***** TABLES FOR LIST EXAMPLE *****/
/***********************************/
.table-row {
  display: inline-flex ;
  flex-wrap: wrap ;
  gap: 16px ;
  justify-content: space-between ;
}

/***************************/
/***** INDIVIDUAL TABS *****/
/***************************/
.tabs {
  display: flex ;
  overflow-x: auto ;         /* Enables horizontal scroll */
  white-space: nowrap ;      /* Prevents wrapping */
  scrollbar-width: none ;    /* Hides scrollbar in Firefox */
  -ms-overflow-style: none ; /* Hides scrollbar in IE 10+ */
  cursor: pointer ;
  border: 1px solid #ccc ;
}
.tab {
  box-sizing: border-box ;
  padding: .75em 1em ;
  display: inline-flex ; /* Make a behave like a flexbox button */
  align-items: center ;
  justify-content: center ;
  text-align: center ;
  flex: 1 ;
  background: #eee ;
  border-left: 1px solid #ccc ;
}
.tab:hover {
  background-color: #dfdfdf ;
}
.tab.active {
  background: #fff ;
  border-top: 5px solid var(--bg-colour) ;
  font-weight: bold ;
  color: var(--bg-colour-active) ;
}
.tabs > .tab:nth-of-type(1) {
  border-left: none ;
}

/************************************/
/***** SECTIONS OF TAB CONTENTS *****/
/************************************/
.tab-content {
  /* font-size: 0.9em ; */
  border: 1px solid #ccc ;
  border-top: none ;
  padding: 1em ;
  display: none ;
}
.tab-content.active {
  display: block ;
}

/******************************************************/
/***** CODE, FILE CONTENTS, KEYWORDS & FILE TYPES *****/
/******************************************************/
kbd {
  font-size: .8em ;
  padding: 0px 2px ;
  border: 2px solid #bfbfbf ;
  border-radius: 6px ;
}

code {
  font-family: "Cascadia Code", Consolas, "Lucida Console", monospace ;
  line-height: 1.5 ;
  font-size: .9em ;
}

code:not(.examples) {
  padding: .2em ;
  font-size: .8em ;
  background-color: #dfdfdf ;
  border-radius: 6px ;
}

/*********************************/
/***** RSD on mobile devices *****/
/*********************************/
@media screen and (max-width: 500px) {

  /**********************/
  /***** HELP GUIDE *****/
  /**********************/

  #instructions {
    list-style-type: none ;
    padding-left: 20px ;
    padding-right: 20px ;
  }
}
