@import "../makelist.css" ;

/****************************/
/***** HELP DESCRIPTION *****/
/****************************/
ul {
  text-align: left ;
}

/**********************/
/***** HELP GUIDE *****/
/**********************/
p {
  line-height: 1.5 ;
  padding-left: 24px ;
  padding-right: 24px ;
}

code {
  font-family: "Cascadia Code", Consolas, "Lucida Console", monospace ;
}
